  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <input
          class="col-10"
          type="text"
          value="share_code_url"
          readonly
        />
        <button class="col-1" >C</button>

        <input
          class="col-10"
          type="text"
          value="share_name_url"
          readonly
        />
        <button class="col-1" >C</button>

      </div>
    </div>
  </div>